# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\temp\Towers of Hanoi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
